body, html, canvas, h1
  {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font: inherit;
  color: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;

}

body {
  background: #ccc;
  font-family: sans-serif;
}

canvas {
  display: block;
  background: #000;
  width: 80%;
  height: auto;
  margin: 20px auto;
}

h1 {
  padding-top: 20px;
  font-size: 48px;
  text-align: center;
}
